################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CompareWidthCsRedis/bin/Debug/netcoreapp3.1
/CompareWidthCsRedis/obj
/SoftSunlight.RedisClient/bin/Debug/netstandard2.0
/SoftSunlight.RedisClient/obj
/SoftSunlight.RedisClient.Test/bin/Debug/netcoreapp3.1
/SoftSunlight.RedisClient.Test/obj
/.vs/SoftSunlight.RedisClient
